.section {
  background-color: $background-white;
  box-shadow: 0 0 4px darken($background-light, 20%);
  margin: $base-margin $base-margin (2 * $base-margin) $base-margin;
  color: $text-main-clr;
  display: none;

  &.active {
    display: block;
  }

  &__header {
    padding: 10px;
  }

  &__title {
    margin: 0;
    font-size: 17px;
    text-transform: uppercase;
  }

  &__article {
    border-top: 1px solid $background-light;
    padding: 40px 20px;
    text-align: center;
  }

  @media (max-width: 800px) {
    margin: $base-margin 0 (2 * $base-margin) 0;
  }
}