.side-bar {
  min-height: 100vh;
  width: $side-bar-width;
  transition: .3s;

  &--fixed {
    position: fixed;
  }

  &--left {
    top: 0;
    left: 0;
    @media (max-width: $hide-side-bar) {
      transform: translateX(-100%);
    }

    &.active {
      transform: translateX(0);
    }
  }

  &--right {
    top: 0;
    right: 0;

    @media (max-width: $hide-side-bar) {
      transform: translateX(100%);
    }
    
    &.active {
      transform: translateX(0);
    }
  }

  &--dark {
    background-color: $background-dark;
    color: $text-menu-dark-clr;
  }

  &--light {
    background-color: $background-light;
    color: $text-menu-light-clr;
  }

}