.side-bar {
  min-height: 100vh;
  


  &--fixed {
    position: fixed;
  }

  &--left {
    top: 0;
    left: 0;
    @media (max-width: $hide-side-bar) {
      transform: translateX(-100%);
    }
  }

  &--right {
    top: 0;
    right: 0;
    @media (max-width: $hide-side-bar) {
      transform: translateX(100%);
    }
  }

  &--dark {
    background-color: $background-dark;
    color: $text-menu-dark-clr;
  }

  &--light {
    background-color: $background-light;
    color: $text-menu-light-clr;
  }
}