.text {
  font-family: $brand-font;
  color: $text-main-clr;

  &-xl { font-size: 2 * $normal-fs; }
  &-x { font-size: 1.75  $normal-fs;}
  &-l {font-size: $normal-fs;}
  &-m {font-size: 0.75 * $normal-fs;}
  &-s {font-size: 0.5 * $normal-fs;}

  &-light {color: $color-light;}
  &-silver {color: $color-silver;}
  &-link {color: $text-link-clr;}
  &-dark {color: $text-main-clr;}

  &-orange {
    color: $color-orange;
  }

  &-box-title {
    font-size: 15px;
    text-transform: uppercase;
    margin: 5px;
  }

  &-s-hide {
    @media (max-width: 800px) {
      display: none;
    }
  }
}