/* Colors */

//Backgrounds colors
$background-light: #eee;
$background-white: #fff;
$background-dark: #000;

//Texts colors
$text-main-clr: #acacac;
$brand-main-clr: #ff0000;
$text-menu-light-clr: #999;
$text-menu-dark-clr: #aaa;
$text-logo-clr: #fff;
$text-link-clr: #5997fb;
$text-silver-clr: #c0c0c0;
$color-light: #fff;
$color-silver: #c0c0c0;
$color-orange: #dd9a1e;
$input-clr: #999;

//Elements colors
$btn-main-clr: #d4870b;
$btn-dark-hover: #222;
$separator-light: #aaa;
$separator-dark: #222;
$signer-clr-no: #a51d1d;
$signer-clr-ok: #24ad24;
$menu-signer-clr: #a51d1d;
$input-border-clr: #acacac;

/* Sizes */

$menu-btn-height: 40px;
$avatar-size: 40px;

/* Font sizes */
$normal-fs: 20px;
$logo-fs: 22px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: 'Satisfy', cursive;

/* Margins */

$base-margin: 10px;

/* Paddings */

$base-padding: 10px;

/* Actions conditions */

$hide-side-bar: 1024px;

