.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__photo-wrapper {
    position: relative;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
  }

  &__signal {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: $signer-clr-ok;
  }
}