.burger-menu {
  position: fixed;
  top: 7px;
  left: $side-bar-width - 40px;
  width: 30px;
  height: 26px;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;

  &__inside {
    display: block;
    width: 90%;
    height: 3px;
    @include center;
    border-radius: 3px;
    background-color: #aaa;
  }

  &::before {
    content: '';
    display: block;
    @include position-and-size(absolute, 10%, 50%, 90%, 3px);
    transform: translateX(-50%);
    border-radius: 3px;
    background-color: #aaa;
  }

  &::after {
    content: '';
    display: block;
    @include position-and-size(absolute, 90%, 50%, 90%, 3px);
    transform: translate(-50%, -100%);
    background-color: #aaa;
  }

  &:hover {
    background-color: #555;
    @media (max-width: $hide-side-bar) {
      background-color: $background-light;
    }
  }

  &:hover::before,  &:hover::after,  &:hover &__inside  {
    background-color: #fff;
  }

  @media(max-width: $hide-side-bar) {
    transform: translateX(- ($side-bar-width - 50px));
    
    &.active {
      transform: translateX(0);
    }
  }
}