.btn {
  background-color: $btn-main-clr;
  padding: 8px 16px;
  color: $color-light;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: lighten($btn-main-clr, 20%);
  }

  &--secondary {
    background-color: $btn-secondary-clr;

    &:hover {
      background-color: lighten($btn-secondary-clr, 20%);
    }
  }

  &--inline {
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-weight: inherit; 
    font-size: inherit;

    &:hover {
      background-color: $background-light;
    }
  }

  &--table {
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    padding: 5px 10px;

    &:hover {
      background-color: $background-light;
      color: black;
    }
  }

  &--close {
    display: block;
    position: relative;
    width: $btn-close-size;
    height: $btn-close-size;
    line-height: $btn-close-size;
    color: white;
    background-color: red;
    border-radius: 50%;
    &:hover {
      background-color: lighten(red, 20%);
    }
  }

  &__hide {
    opacity: 0;
  }

  &:hover &__hide {
    opacity: 1;
  }



  &:focus {
    outline: 1px transparent;
  }

  &--square {
    padding: 8px;
  }
}