.btn {
  background-color: $btn-main-clr;
  padding: 8px 16px;
  color: $color-light;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: lighten($btn-main-clr, 20%);
  }

  &--inline {
    border: none;
    padding: 0;
    background-color: transparent;
    vertical-align: center;

    &:hover {
      background-color: $background-light;
    }
  }

  &:focus {
    outline: 1px transparent;
  }

  &--square {
    padding: 8px;
  }
}