.input-dates {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2px $input-border-clr;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 80%;
    box-shadow: 0 0 1px $input-border-clr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__input {
    margin: 0;
    padding: 5px 10px;
    width: 130px;
    font-size: 14px;
    color: $input-clr;
    border: 1px solid transparent;

    &:focus {
      outline: 1px solid transparent;
      background-color: $input-border-clr;
    }

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      width: 10px;
      height: 80%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__icon-first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%, -50%);
  }

  &__icon-last {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-180%, -50%);
  }
}