.menu {
  @include reset-list;
  font-size: 0;
  color: inherit;

  &__item {
    display: inline-block;
    border-right: 1px solid $background-light;
    position: relative;
    box-sizing: border-box;
    
    &:first-of-type {
      border-left: 1px solid $background-light;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: $menu-btn-height;
    text-decoration: none;
    color: inherit;
    font-size: 0.5 * $menu-btn-height;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;

    &:hover {
      background-color: $background-light;
    }

    &--dark:hover {
      background-color: $btn-dark-hover;
    }
  }

  &__signer {
    opacity: 0;
    @include position-and-size(absolute, 0, 0, 2px, 100%);
    background-color: $menu-signer-clr;
  }

  &__btn:hover &__signer, &__btn.active &__signer {
    opacity: 1;
  }

  &__btn:hover, &__btn.active {
    color: $color-light;
  }

  &__icon-signal {
    display: block;
    @include position-and-size(absolute, 25%, 70%, 5px, 5px);
    border-radius: 50%;
    background-color: $brand-main-clr;
  }

  &__reel {
    display: block;

    @media(max-width: 800px) {
      transform: rotate(180deg);
    }
  }
}

.menu.menu--y {
  .menu__item {
    display: block;
    border: none;
  }
}

.menu.menu--inside {
  @include position-and-size(absolute, 100%, 0, 100%, auto);
  display: none;

  @media(max-width: 800px) {
    @include position-and-size(absolute, 0, 0, 100%, auto);
    transform: translateY(-100%);
  }

  &.active {
    display: block;
  }

  .menu__item {
    display: block;
    width: 100%;
    border: none;
    background-color: $background-white;

    &--dark {
      background-color: $background-dark;
    }
  }

  .menu__btn {
    width: 100%;
    border: 1px solid $background-light;
  }
}

.menu--y .menu.menu--inside.menu--inside-right {
  @include position-and-size(absolute, 0, 100%, 100%, auto);
}

.menu--y .menu.menu--inside.menu--inside-left {
  @include position-and-size(absolute, 0, -100%, 100%, auto);
}

