.menu {
  @include reset-list;
  font-size: 0;
  color: inherit;

  &__item {
    display: inline-block;
    border-right: 1px solid $background-light;
    
    &:first-of-type {
      border-left: 1px solid $background-light;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: $menu-btn-height;
    text-decoration: none;
    color: inherit;
    font-size: 0.5 * $menu-btn-height;
    padding: 0 10px;
    position: relative;

    &:hover {
      background-color: $background-light;
    }

    &--dark:hover {
      background-color: $btn-dark-hover;
    }
  }

  &__signer {
    opacity: 0;
    @include position-and-size(absolute, 0, 0, 2px, 100%);
    background-color: $menu-signer-clr;
  }

  &__btn:hover &__signer, &__btn.active &__signer {
    opacity: 1;
  }

  &__btn:hover, &__btn.active {
    color: $color-light;
  }

  &__icon-signal {
    display: block;
    @include position-and-size(absolute, 25%, 70%, 5px, 5px);
    border-radius: 50%;
    background-color: $brand-main-clr;
    
  }
}

.menu.menu--y {
  .menu__item {
    display: block;
    border: none;
  }
}

