.message {
  line-height: 1;
  max-width: 90%;

  &__cloud {
    display: inline-block;
    width: auto;
    padding: 7px 0;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: inherit;

    }
   } 
}

.message--get .message__text {
  background-color: #ccc;
  color: black;

  &::before {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.message--send .message__text {
  background-color: #888;
  color: white;

  &::before {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}