.table {
  border-collapse: collapse;
  width: 100%;

  &__row {
    border-top: 1px solid $background-light;

    &:last-of-type {
      border-bottom: 1px solid $background-light;
    }

    &:hover {
      background-color: $background-light;
    }
  }

  &__btn {
    opacity: 0;
    
    @media(max-width: 1024px) {
      opacity: 1;
    }
  }

  &__row:hover &__btn {
    opacity: 1;
  }
}

